html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nav-items {
  color: #000000 !important;
  margin-right: 20px;
}

.headerContainer {
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #d9d9d9;
}

.special-offer-container {
  background: linear-gradient(180deg, #599ff8 -0.62%, #5969f8 116.55%);
  box-shadow: 0px 3px 34px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  margin-top: 50px;
  padding: 20px 40px;
  color: #fff;
}

.special-offer-container p {
  font-size: 24px;
  font-weight: 600;
}

.special-offer-container span {
  color: #e4e4e4;
  font-size: 20px;
  font-weight: 500;
}

.special-offer-container .details p {
  color: #e4e4e4;
  font-size: 18px;
  font-weight: 500;
}

.special-offer-container .learn-more-btn button {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 8px 20px;
  font-size: 18px;
  outline: none;
  border-radius: 4px;
  font-weight: 600;
}

.special-offer-container .learn-more-btn {
  text-align: right;
}

.purchaseBoxContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
  margin-bottom: 30px;
  grid-gap: 50px;
}

.purchaseBox {
  background: #ffffff;
  box-shadow: 0px 3px 34px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 40px 20px;
}

.purchaseBox .header {
  display: flex;
  justify-content: space-between;
}

.purchaseBox .time p {
  color: #5a73f9;
  font-weight: 600;
  font-size: 22px;
}

.discountPrice span {
  font-size: 14px;
  color: #888888;
  text-decoration: line-through;
}

.discountPrice p {
  color: #30242a;
}

.purchase {
  text-align: center;
  margin-top: 30px;
}

.purchase button {
  background: transparent;
  border: 1px solid #1f161e;
  padding: 5px 25px;
  outline: none;
  border-radius: 4px;
  width: 85%;
  font-size: 18px;
  font-weight: 500;
}

.purchase button:hover {
  background: #1f161e;
  color: #ffffff;
}

.curve {
  text-align: center;
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .purchaseBoxContainer {
    grid-template-columns: 1fr;
  }
}

/* Transcript Styles */

.add-files-btn-container button {
  background: #4756df;
  color: #fff;
  border: 1px solid #4756df;
  outline: none;
  box-shadow: 0px 3px 34px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 30px;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.35s ease-in-out;
}

.add-files-btn-container button:hover {
  transform: scale(1.1);
}

.add-files-btn-container span {
  color: #d7d7d7;
  font-size: 13px;
  font-weight: normal;
  padding-left: 10px;
}

.transcript-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.add-file-container {
  box-shadow: 0px 3px 34px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 20px 40px;
  width: 450px;
}

.upload-document {
  border: 1px solid #797979;
  background: #fff;
  border-radius: 50px;
  padding: 10px;
  outline: none !important;
}

.upload-document span {
  font-size: 13px;
  color: #797979;
}

.files-list {
  margin-top: 40px;
}

.files-list .file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

.file p {
  color: #797979;
  margin: 0;
  font-size: 14px;
}

.file img {
  cursor: pointer;
}

.transcript-btn {
  background: #4756df;
  color: #fff;
  border: 1px solid #4756df;
  outline: none;
  padding: 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: inset -3px -4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 100%;
  margin-top: 100px;
  transition: all 0.35s ease-in-out;
}

.transcript-btn:hover {
  transform: scale(1.1);
}

.toggle-content {
  display: flex;
  align-items: baseline;
}

.toggle-content p {
  color: #4f4f4f;
  font-size: 14px;
}

.close-btn {
  cursor: pointer;
}

/* Animations */

.fade-in-fwd {
  -webkit-animation: fade-in-fwd 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.slide-in-bottom {
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/* Toggle Button */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 27px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4756df;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4756df;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
